<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167546073041-b8i8ajc3k1kgn5rq8g5mrsuum665utdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167546073041-b8i8ajc3k1kgn5rq8g5mrsuum665utdm</string>
	<key>API_KEY</key>
	<string>AIzaSyBL4mKI_jaPiIEdaBzqSwv2CdoXOlVoP7o</string>
	<key>GCM_SENDER_ID</key>
	<string>167546073041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-8d4d3</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-8d4d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167546073041:ios:68849b780dc83cea97baf0</string>
</dict>
</plist>